body {
    background-color: rgba(90, 86, 86, 0.534);
    color:rgb(240, 252, 255);
    
}

#map { 
    position: relative;
    top: 0px;
    bottom: 0;
    left: -16em;
    width: 200%;
    overflow: unset;
    padding-top: 17em;
    padding-right: 21em;
    padding-bottom: 10em;
    padding-left: 10em;
    height: 200%;
}

    



h1#titulo {
    background-color: hsl(152deg 59% 41% / 51%);
    text-shadow: 0px 0px 7px #ef14148c;
    align-items: center;
    text-align: center;
}

#principal{
    background-color: #fdfdfd4a;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}


#pleft{
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding: 60px;
    
}

#pleft h2{
    margin:-21px 1px -17px;
    color: rgb(38, 52, 240);
    text-shadow: 0 0 4px whitesmoke;
}


#pleft h1{
    color: white;
    text-shadow: 0 0 4px black;
}
#pleft h1::first-letter{
 text-transform: uppercase;
 
 }
 #pleft p{
    color: white;
    text-shadow: 0 0 4px black;
}

#pcentral{
    margin: 40px 309px 40px 40px;
}

#busqueda{
    display: flex;
    align-items: flex-end;
    flex-direction: column;       
}

#icoeltiempo{
    background: radial-gradient( rgb(248, 248, 248),rgb(93, 194, 241) );
    border-radius:40px;
    box-shadow: 1px 2px 20px 7px #b4e1f3c4
}

#flota{
    float: right;
    margin: -62px;
    padding: 19px 35px 10px 2px;
}



