body {background-color: rgba(90, 86, 86, 0.534);
    color:rgb(240, 252, 255);
    
}

h1#titulo {
    background-color: hsl(152deg 59% 41% / 51%);
    text-shadow: 0px 0px 7px #ef14148c;
    align-items: center;
    text-align: center;
}

#principal{
    background-color: #fdfdfd4a;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}


#pleft{
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding: 60px;
    
}

#pleft h2{
    margin:-21px 1px -17px;
    color: rgb(38, 52, 240);
    text-shadow: 0 0 4px whitesmoke;
}


#pleft h1{
    color: white;
    text-shadow: 0 0 4px black;
}
#pleft h1::first-letter{
 text-transform: uppercase;
 
 }
 #pleft p{
    color: white;
    text-shadow: 0 0 4px black;
}

#pcentral{
    margin: 40px 309px 40px 40px;
}

#pright{
        
}

#icoeltiempo{
    background-color:skyblue;
    border-radius:40px
}